<mat-nav-list>
  <mat-list-item [routerLink]="userMainLink">
    <mat-icon matListIcon>home_work</mat-icon>
    <h4 matLine i18n="@@Work">Work</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="analysisLink">
    <mat-icon matListIcon>access_time</mat-icon>
    <h4 matLine i18n="@@History">History</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="intervalLink">
    <mat-icon matListIcon>double_arrow</mat-icon>
    <h4 matLine i18n="@@Interval">Interval</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>
