.centerText {
  text-align: center;
}

.centerBlock {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-bottom: 12px;
}

@media screen and (max-width: 600px){
  .centerBlockMin {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 600px){
  .centerBlockMin {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }
}

.mainTitle {
  font-family: 'Fredericka the Great', cursive;
  margin-bottom: 24px;
}

.startContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 128px 1fr;
  grid-template-columns: 1fr max-content 1fr;

}

.startCenter {
  text-align: center;
  -ms-grid-column: 1;
  grid-column: 2 / 3;
  width: 128px;
  width: max-content;
}
