<mat-toolbar color="primary" mat-scroll-shrink class="toolbar mat-elevation-z8">
  <mat-toolbar-row>
    <!--button *ngIf="!menuControl.pcMode" (mouseup)="menuControl.sideMenuToggle()" mat-icon-button aria-label="hamburger">
      <mat-icon>menu</mat-icon>
    </button-->
    <span class="appStyle">{{menuControl.title}}</span>
    <!--span class="topMenuStyle" *ngIf="pcMode">{{title}}1</span>
    <span class="topMenuStyle" *ngIf="pcMode">{{title}}2</span>
    <span class="topMenuStyle" *ngIf="pcMode">{{title}}3</span>
    <span class="topMenuStyle" *ngIf="pcMode">{{title}}4</span>
    <span class="topMenuStyle" *ngIf="pcMode">{{title}}5</span-->
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sideNavi-container">
  <!-- サイドメニュー -->
  <!--mat-sidenav [mode]="menuControl.sideNaviMode" [(opened)]="menuControl.showSideMenu">
    サイドメニュー
  </mat-sidenav-->
  <!-- メイン コンテンツ -->
  <mat-sidenav-content>
    <div class="mainTitleBlock">
      <h1 class="centerText mainTitle mat-display-3">Remind Work</h1>
      <div class="startContainer">
        <button class="startCenter" mat-raised-button color="accent" (mouseup)="GetStart()" i18n-matTooltip
          matTooltip="Free" i18n="@@GetStarted">
          get started
        </button>
      </div>
      <h2 class="centerText" i18n="@@EffectiveLearningWithTheForgettingCurve">Effective learning with the forgetting
        curve</h2>
      <div class="centerBlockMin">
        <p i18n="@@ApplicationDescription1">Memorization and study cycle reminders.</p>
        <p i18n="@@ApplicationDescription2">Create your own forgetting curve by registering the number of items you
          want to memorize and recording your review results.</p>
        <p i18n="@@ApplicationDescription4">Review intervals can be customized.</p>
      </div><br><br>
      <div style="text-align: right;margin-right: 5%;">
        <a href="https://twitter.com/GuhawYamanchu" target="_blank">@GuhawYamanchu</a>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
