<ng-container *ngIf="user.workFinish.length>0">
  <ng-container *ngFor="let item of user.workFinish index as i">
    <app-work-item-view *ngIf="item.data!=null" [targetMode]="user.workViewTo.Finish" [targetItem]="item"
      [targetIndex]="i"></app-work-item-view>
  </ng-container>
</ng-container>
<ng-container *ngIf="user.workFinish.length===0">
<h2  i18n="@@NoFinishedWork">There is no finished work.</h2>
<p  i18n="@@MoveToList">Move to the List page and click on the + button to register your work content.</p>
</ng-container>
