<h2 mat-dialog-title>
  <ng-container i18n="@@NextToGoSelectDialogTittle">Select your next date</ng-container>
</h2>
<mat-dialog-content>
  <div style="display: flex;">
    <div style="width: max-content; margin-right: 8px;">
      <div class="radio-image-group">
        <mat-icon class="radio-image-button" color="primary">schedule</mat-icon>
        <mat-icon class="radio-image-button" color="primary">repeat_one</mat-icon>
        <mat-icon class="radio-image-button" color="primary">reply_all</mat-icon>
        <mat-icon class="radio-image-button" color="primary">thumb_up</mat-icon>
      </div>
    </div>
    <div style="width: max-content;">
      <mat-radio-group aria-labelledby="subject area radio" class="radio-group" [(ngModel)]="selectedItem">
        <mat-radio-button class="radio-button" [value]="listType.Next" [disabled]="data.nextDisable" i18n="@@ToNext">
          Next
        </mat-radio-button>
        <mat-radio-button class="radio-button" [value]="listType.Repeat" i18n="@@Repeat">Repeat</mat-radio-button>
        <mat-radio-button class="radio-button" [value]="listType.ReStart" i18n="@@ReStart">ReStart</mat-radio-button>
        <mat-radio-button class="radio-button" [value]="listType.Finish" i18n="@@Finish">Finish</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div style="width: max-content; margin-left: auto; margin-right: 16px;">
    <button mat-raised-button color="primary" (mouseup)="onCancelClick()" cdkFocusInitial
      style="margin-left: auto; margin-right: 16px;" i18n="@@Cancel">
      Cancel</button>
    <button mat-raised-button color="primary" (mouseup)="onOkClick()" i18n="@@OK">OK</button>
  </div>
</mat-dialog-actions>
