<p>
  <mat-toolbar color="primary" mat-scroll-shrink class="toolbar mat-elevation-z8">
    <button *ngIf="!menuControl.pcMode" (mouseup)="menuControl.sideMenuToggle()" mat-icon-button aria-label="hamburger">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon class="hamburgerMargin" matListIcon>home_work</mat-icon>
    <span class="topMenuStyle" i18n="@@Work">Work</span>
    <span style="flex: 1 1 auto;"></span>
    <app-user-login-state></app-user-login-state>
  </mat-toolbar>
</p>
<mat-sidenav-container class="sideNavi-container">
  <!-- サイドメニュー -->
  <mat-sidenav [mode]="menuControl.sideNaviMode" [(opened)]="menuControl.showSideMenu">
    <app-side-navi-menu current="/user-main"></app-side-navi-menu>
  </mat-sidenav>
  <!-- メイン コンテンツ -->
  <mat-sidenav-content #sidenavContent>
    <div class="mainSection">
      <ng-container *ngFor="let item of user.workTarget index as i">
        <app-work-item-view *ngIf="item.data!=null" [targetMode]="user.workViewTo.Target" [targetItem]="item"
          [targetIndex]="i"></app-work-item-view>
      </ng-container>
      <app-work-create-view [hidden]="!addMode"></app-work-create-view>
    </div>
    <!-- 追加ボタン -->
    <div class="fabPosition">
      <button mat-fab mat-elevation-z8 *ngIf="!addMode" (mouseup)="StartAddMode()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
