<mat-toolbar color="primary" mat-scroll-shrink class="toolbar mat-elevation-z8">
  <mat-toolbar-row>
    <button *ngIf="!menuControl.pcMode" (mouseup)="menuControl.sideMenuToggle()" mat-icon-button aria-label="hamburger">
      <mat-icon>menu</mat-icon>
    </button>
    <!--span class="appStyle">{{menuControl.title}}</span-->
    <mat-icon class="hamburgerMargin" matListIcon>view_agenda</mat-icon>
    <span class="topMenuStyle">復習リスト</span>
    <!--span class="topMenuStyle" *ngIf="pcMode">{{title}}2</span>
    <span class="topMenuStyle" *ngIf="pcMode">{{title}}3</span>
    <span class="topMenuStyle" *ngIf="pcMode">{{title}}4</span>
    <span class="topMenuStyle" *ngIf="pcMode">{{title}}5</span-->
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sideNavi-container">
  <!-- サイドメニュー -->
  <mat-sidenav [mode]="menuControl.sideNaviMode" [(opened)]="menuControl.showSideMenu">
    <mat-nav-list>
      <mat-list-item routerLink="/user-main">
        <mat-icon matListIcon>view_agenda</mat-icon>
        <h4 matLine>復習リスト</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/analysis">
        <mat-icon matListIcon>timeline</mat-icon>
        <h4 matLine>分析</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/interval">
        <mat-icon matListIcon>repeat</mat-icon>
        <h4 matLine>復習間隔</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <!-- メイン コンテンツ -->
  <mat-sidenav-content #sidenavContent>
    <div class="mainSection">
      <ng-container *ngFor="let item of user.workTarget index as i">
        <mat-card class="cardStyle">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon *ngIf="item.next<=user.today" color="accent" style="margin-left: 4px;">update
              </mat-icon>
              <mat-icon *ngIf="item.next>user.today" color="primary" style="margin-left: 4px;">done
              </mat-icon>
            </div>
            <mat-card-title>
              {{item.data.overview}}
            </mat-card-title>
            <mat-card-subtitle>
              <ng-container *ngIf="item.subjectArea!=null && item.subjectArea.name !== '' ">
                <span>{{item.subjectArea.name}}</span>
                <span *ngIf="item.subject!=null && item.subject.length>0">
                  <ng-container *ngFor="let subject of item.subject index as j">
                    <ng-container *ngIf="j===0"> : </ng-container>
                    <ng-container *ngIf="j!==0"> / </ng-container>
                    {{subject.name}}
                  </ng-container>
                </span>
              </ng-container>
            </mat-card-subtitle>
            <span *ngIf="menuControl.pcMode && item.cycle!=null"
              style="margin-left: auto; margin-right: 0;">復習間隔：{{item.cycle.name}}</span>
            <span *ngIf="!menuControl.pcMode && item.cycle!=null" style="margin-left: auto; margin-right: 0;">[{{item.cycle.name}}]</span>
          </mat-card-header>
          <mat-card-content>
            <mat-accordion>
              <mat-expansion-panel class="dp3BackColor">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span *ngIf="menuControl.pcMode">学習回数：{{item.data.result.length}}</span>
                    <span *ngIf="!menuControl.pcMode">回数：{{item.data.result.length}}</span>
                  </mat-panel-title>
                  <mat-panel-description>
                    <span *ngIf="menuControl.pcMode">前回：{{item.last | date:"yyyy/MM/dd"}}</span>
                    <span *ngIf="!menuControl.pcMode">前回：{{item.last | date:"MM/dd"}}</span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-container *ngIf="item.memoLink!=null && item.memoLink.length>0">
                  <ng-container *ngFor="let memoContent of item.memoLink">
                    <p *ngIf="memoContent.length>0">{{memoContent}}</p>
                  </ng-container>
                </ng-container>
                <div class="primaryBackGrandColor">
                  <svg [attr.viewBox]="user.GetView(item).drawBax.area">
                    <defs>
                      <!-- arrowhead marker definition -->
                      <marker [attr.id]="'arrowY_'+i" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="4"
                        markerHeight="4" orient="270deg" fill="transparent" stroke="#ffffff" stroke-width="2">
                        <path d="M 0 1 L 10 5 L 0 9" />
                      </marker>
                      <marker [attr.id]="'arrowX_'+i" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="4"
                        markerHeight="4" orient="0deg" fill="transparent" stroke="#ffffff" stroke-width="2">
                        <path d="M 0 1 L 10 5 L 0 9" />
                      </marker>
                      <!-- simple dot marker definition -->
                      <marker [attr.id]="'dotPoint_'+i" viewBox="0 0 10 10" refX="5" refY="5" markerWidth="4"
                        markerHeight="4">
                        <circle cx="5" cy="5" r="4" fill="#ff4081" />
                      </marker>
                    </defs>
                    <!--line x1="0" y1="0" x2="400" y2="100" stroke-width="2" stroke="#ff4081" /-->
                    <!--path d="M0 0 C 100 0 100 100 400 100" fill="transparent" stroke-width="2" stroke="#ff4081" /-->
                    <line [attr.x1]="user.GetView(item).viewOutline.start.x-1"
                      [attr.y1]="user.GetView(item).viewOutline.start.y"
                      [attr.x2]="user.GetView(item).viewOutline.end.x"
                      [attr.y2]="user.GetView(item).viewOutline.start.y" stroke-width="2" stroke="#ffffff"
                      [attr.marker-end]="'url(#arrowX_'+i+')'" />
                    <line [attr.x1]="user.GetView(item).viewOutline.start.x"
                      [attr.y1]="user.GetView(item).viewOutline.start.y+1"
                      [attr.x2]="user.GetView(item).viewOutline.start.x"
                      [attr.y2]="user.GetView(item).viewOutline.end.y" stroke-width="2" stroke="#ffffff"
                      [attr.marker-end]="'url(#arrowY_'+i+')'" />
                    <!--line [attr.x1]="user.GetView(item).viewOutline.start.x"
                      [attr.y1]="user.GetView(item).convertToDrawY(item.data.maxPoint)"
                      [attr.x2]="user.GetView(item).viewOutline.end.x"
                      [attr.y2]="user.GetView(item).convertToDrawY(item.data.maxPoint)" stroke-width="1"
                      stroke="#ffffffd6" stroke-linejoin="round" /-->
                    <path [attr.d]="user.GetView(item).pointPath(1)" fill="transparent" stroke-width="0.75"
                      stroke="#ffffff" />
                    <path [attr.d]="user.GetView(item).endDayDrawPath()" fill="transparent" stroke-width="0.5"
                      stroke="#ffffff" />
                    <text [attr.x]="user.GetView(item).endDayDrawX" [attr.y]="user.GetView(item).viewOutline.start.y+2"
                      font-size="20" text-anchor="middle" fill="white" font-weight="100"
                      dominant-baseline="text-before-edge">{{user.GetView(item).endDate| date:"M/d"}}</text>
                    <text [attr.x]="user.GetView(item).convertDateNumberToDrawX(item.data.result[0].date)"
                      [attr.y]="user.GetView(item).viewOutline.start.y+2" font-size="20" text-anchor="start"
                      fill="white" font-weight="100"
                      dominant-baseline="text-before-edge">{{item.data.result[0].date| date:"M/d"}}</text>
                    <ng-container *ngFor="let resultItem of item.data.result">
                      <line [attr.x1]="user.GetView(item).convertDateNumberToDrawX(resultItem.date)"
                        [attr.y1]="user.GetView(item).convertToDrawY(resultItem.rate)"
                        [attr.x2]="user.GetView(item).convertDateNumberToDrawX(resultItem.date)"
                        [attr.y2]="user.GetView(item).convertToDrawY(1)" stroke-width="2" stroke="#ff4081"
                        [attr.marker-start]="'url(#dotPoint_'+i+')'" />
                      <path *ngIf="user.GetView(item).drawRealForgetCurve(item.data.result,resultItem)"
                        [attr.d]="user.GetView(item).getDrawRealForgetCurve(item.data.result,resultItem)"
                        fill="transparent" stroke-width="2" stroke="#ff4081" />
                    </ng-container>
                    <path [attr.d]="user.GetView(item).getDrawImageForgetCurve(item.data.result)" fill="transparent"
                      stroke-width="1" stroke="#ff4081" />
                  </svg>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
          <mat-card-actions>
            <div *ngIf="item.next<=user.today" style="margin-left: 16px;">
              <form [formGroup]="GetResultFormGroup(item)">
                <mat-form-field style="width: 72px;">
                  <mat-label>学習結果</mat-label>
                  <input matInput type="number" min="0" [max]="item.data.maxPoint" formControlName="point"
                    required="true" placeholder="例：{{item.data.maxPoint}}">
                  <mat-error>0～{{item.data.maxPoint}}を入力</mat-error>
                </mat-form-field>/{{item.data.maxPoint}}

                <!--button mat-raised-button color="primary" style="float: right; margin-top: 8px;">次回:
                {{item.data.next | date:"yyyy/MM/dd"}}</button-->
                <div style=" float: right; margin-left: auto; margin-right: 8px; margin-top: 8px; width: max-content;">
                  <span>
                    <button [disabled]="GetResultFormGroup(item).invalid" mat-mini-fab color="primary"
                      style="margin-right: 16px;">
                      <mat-icon>history</mat-icon>
                    </button>
                    <button [disabled]="GetResultFormGroup(item).invalid" mat-mini-fab color="primary"
                      (mouseup)="registerResult(item)">
                      <mat-icon *ngIf="item.gotoInterval!=null">done</mat-icon>
                      <mat-icon *ngIf="item.gotoInterval==null">done_all</mat-icon>
                    </button>
                  </span>
                </div>
              </form>
            </div>
            <div *ngIf="item.next>user.today" style="margin-left: 16px; margin-right: 24px;">
              <span>項目数: {{item.data.maxPoint}}</span>
              <span style="float: right;">次回: {{item.data.next | date:"yyyy/MM/dd"}}</span>
            </div>
          </mat-card-actions>
        </mat-card>
      </ng-container>
      <mat-card *ngIf="addMode" class="cardStyle" #editCard>
        <mat-card-header>
          <mat-card-title>
            新規登録
          </mat-card-title>
          <!--mat-card-subtitle>学習内容を登録します。</mat-card-subtitle-->
        </mat-card-header>
        <mat-card-content>
          <form class="maxWidth" [formGroup]="newWorkInputGroupe">
            <div>
              <mat-form-field class="maxWidth">
                <mat-label>学習概要を入力</mat-label>
                <input type="text" placeholder="例：単語帳 10～12ページ" aria-label="InputWorkOverview" matInput
                  formControlName="overview" required="true">
              </mat-form-field>
            </div>
            <div class="pointsCycleContainer">
              <div class="points">
                <mat-form-field style="width: 64px;">
                  <mat-label>項目数</mat-label>
                  <input matInput type="number" formControlName="point" aria-label="InputWorkPoint" placeholder="例：10"
                    min="1" required="true">
                  <mat-error>1以上を入力</mat-error>
                </mat-form-field>
              </div>
              <div class="cycle">
                <mat-form-field>
                  <mat-label>復習間隔</mat-label>
                  <mat-select formControlName="cycle">
                    <ng-container *ngFor="let item of user.cycleNodeViewModel">
                      <mat-option [value]="item">{{item.data.name}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <mat-accordion>
              <mat-expansion-panel class="dp3BackColor">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    詳細設定
                  </mat-panel-title>
                  <mat-panel-description>
                    (任意)
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="gridContainer">
                  <div class="buttonSportInput">
                    <mat-form-field class="maxWidth">
                      <mat-label>教科を入力</mat-label>
                      <input type="text" placeholder="例：英語" aria-label="InputviewSubjectArea " matInput
                        formControlName="newSubjectAreas">
                    </mat-form-field>
                  </div>
                  <div class="inputSelectButton">
                    <button mat-mini-fab color="primary" aria-label="Subject area select" (mouseup)="subjectAreaEdit()">
                      <mat-icon>list</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="gridContainer">
                  <div class="buttonSportInput">
                    <mat-form-field class="maxWidth">
                      <mat-chip-list #subjectAreaList aria-label="SubjectArea selection">
                        <ng-container *ngFor="let item of inputSubject">
                          <mat-chip selected="true" removable="true" (removed)="removeSubject(item)">
                            {{item.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </ng-container>
                        <input placeholder="科目 又は 分類を入力" #subjectInput formControlName='newSubject'
                          [matChipInputFor]="subjectAreaList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addSubject($event)">
                      </mat-chip-list>
                      <!--mat-autocomplete #autoSubject="matAutocomplete" (optionSelected)="selectedSubject($event)">
                <mat-option *ngFor="let item of selectableSubject | async" [value]="item"
                  aria-label="selectableSubject item">
                  {{item.name}}
                </mat-option>
              </mat-autocomplete-->
                    </mat-form-field>
                  </div>
                  <div class="inputSelectButton">
                    <button mat-mini-fab color="primary" aria-label="Subject select" (mouseup)="subjectEdit()">
                      <mat-icon>list</mat-icon>
                    </button>
                  </div>
                </div>
                <div>
                  <mat-form-field class="maxWidth">
                    <mat-label>メモ入力</mat-label>
                    <textarea matInput formControlName="memo" aria-label="InputWorkDeteil"></textarea>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div class="actionButtonContainer">
            <button class="ClancelButton" color="primary" mat-raised-button (mouseup)="registerWorkCnacel()">
              キャンセル
            </button>
            <button class="OKButton" color="primary" mat-raised-button (mouseup)='registerWork()'
              [disabled]="newWorkInputGroupe.invalid">
              登録
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
      <div class="fabPosition">
        <button mat-fab mat-elevation-z8 *ngIf="!addMode" (mouseup)="StartAddMode()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
