<mat-toolbar color="primary" mat-scroll-shrink class="toolbar mat-elevation-z8">
  <mat-toolbar-row>
    <button *ngIf="!menuControl.pcMode" (mouseup)="menuControl.sideMenuToggle()" mat-icon-button aria-label="hamburger">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon class="hamburgerMargin" matListIcon>view_agenda</mat-icon>
    <span class="topMenuStyle" i18n="@@ReviewList">List</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sideNavi-container">
  <!-- サイドメニュー -->
  <mat-sidenav [mode]="menuControl.sideNaviMode" [(opened)]="menuControl.showSideMenu">
    <mat-nav-list>
      <mat-list-item routerLink="/user-main">
        <mat-icon matListIcon>view_agenda</mat-icon>
        <h4 matLine i18n="@@ReviewList">List</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/analysis">
        <mat-icon matListIcon>timeline</mat-icon>
        <h4 matLine i18n="@@Analysis">Analysis</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/interval">
        <mat-icon matListIcon>repeat</mat-icon>
        <h4 matLine i18n="@@Interval">Interval</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <!-- メイン コンテンツ -->
  <mat-sidenav-content #sidenavContent>
    <div class="mainSection">
      <ng-container *ngFor="let item of user.workTarget index as i">
        <mat-card class="cardStyle">
          <mat-card-header>
            <div mat-card-avatar>
              <ng-container *ngIf="user.hasNextDate(item)">
                <mat-icon *ngIf="item.next<=user.today" color="accent" style="margin-left: 4px;">
                  update
                </mat-icon>
                <mat-icon *ngIf="item.next>user.today" color="primary" style="margin-left: 4px;">
                  done
                </mat-icon>
              </ng-container>
              <ng-container *ngIf="!user.hasNextDate(item)">
                <mat-icon color="primary" style="margin-left: 4px;">
                  thumb_up
                </mat-icon>
              </ng-container>
            </div>
            <mat-card-title>
              {{item.data.overview}}
            </mat-card-title>
            <mat-card-subtitle>
              <ng-container *ngIf="item.subjectArea!=null && item.subjectArea.name !== '' ">
                <span>{{item.subjectArea.name}}</span>
                <span *ngIf="item.subject!=null && item.subject.length>0">
                  <ng-container *ngFor="let subject of item.subject index as j">
                    <ng-container *ngIf="j===0"> : </ng-container>
                    <ng-container *ngIf="j!==0"> / </ng-container>
                    {{subject.name}}
                  </ng-container>
                </span>
              </ng-container>
            </mat-card-subtitle>
            <span *ngIf="menuControl.pcMode && item.cycle!=null" style="margin-left: auto; margin-right: 0;">
              <span i18n="@@Interval">Interval</span>
              <span>&nbsp;:&nbsp;</span>
              <span>
                <ng-container *ngIf="item.cycle.name==='default'" i18n="@@CommonCycleDefault">default</ng-container>
                <ng-container *ngIf="item.cycle.name==='default/hard'" i18n="@@CommonCycleDefaultHard">default/hard
                </ng-container>
                <ng-container *ngIf="(item.cycle.name!=='default') && (item.cycle.name!=='default/hard')">
                  {{item.cycle.name}}
                </ng-container>
              </span>
            </span>
            <span *ngIf="!menuControl.pcMode && item.cycle!=null" style="margin-left: auto; margin-right: 0;">
              <span>[</span>
              <ng-container *ngIf="item.cycle.name==='default'" i18n="@@CommonCycleDefault">default</ng-container>
              <ng-container *ngIf="item.cycle.name==='default/hard'" i18n="@@CommonCycleDefaultHard">default/hard
              </ng-container>
              <ng-container *ngIf="(item.cycle.name!=='default') && (item.cycle.name!=='default/hard')">
                {{item.cycle.name}}
              </ng-container>
              <span>]</span>
            </span>
          </mat-card-header>
          <mat-card-content>
            <mat-accordion>
              <mat-expansion-panel class="dp3BackColor">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span *ngIf="menuControl.pcMode">
                      <span i18n="@@LearningCount">Learning count</span>
                      <span>&nbsp;:&nbsp;</span>
                      <span>{{item.data.result.length}}</span>
                    </span>
                    <span *ngIf="!menuControl.pcMode">
                      <span i18n="@@Count">Count</span>
                      <span>&nbsp;:&nbsp;</span>
                      <span>{{item.data.result.length}}</span>
                    </span>
                  </mat-panel-title>
                  <mat-panel-description>
                    <span i18n="@@LastStudyDate">Last</span>
                    <span>&nbsp;:&nbsp;</span>
                    <span *ngIf="menuControl.pcMode">{{item.last | date:'longDate'}}</span>
                    <span *ngIf="!menuControl.pcMode">{{item.last | date:'M/d'}}</span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-container *ngIf="item.memoLink!=null && item.memoLink.length>0">
                  <ng-container *ngFor="let memoContent of item.memoLink">
                    <ng-container *ngIf="memoContent.length>0">
                      <p *ngIf="!user.isLinkText(memoContent)">{{memoContent}}</p>
                      <a *ngIf="user.isLinkText(memoContent)" href={{memoContent}} target="_blank">{{memoContent}}</a>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <div class="primaryBackGrandColor">
                  <svg [attr.viewBox]="user.GetView(item).drawBax.area">
                    <defs>
                      <!-- arrowhead marker definition -->
                      <marker [attr.id]="'arrowY_'+i" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="4"
                        markerHeight="4" orient="270deg" fill="transparent" stroke="#ffffff" stroke-width="2">
                        <path d="M 0 1 L 10 5 L 0 9" />
                      </marker>
                      <marker [attr.id]="'arrowX_'+i" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="4"
                        markerHeight="4" orient="0deg" fill="transparent" stroke="#ffffff" stroke-width="2">
                        <path d="M 0 1 L 10 5 L 0 9" />
                      </marker>
                      <!-- simple dot marker definition -->
                      <marker [attr.id]="'dotPoint_'+i" viewBox="0 0 10 10" refX="5" refY="5" markerWidth="4"
                        markerHeight="4">
                        <circle cx="5" cy="5" r="4" fill="#ff4081" />
                      </marker>
                    </defs>
                    <line [attr.x1]="user.GetView(item).viewOutline.start.x-1"
                      [attr.y1]="user.GetView(item).viewOutline.start.y"
                      [attr.x2]="user.GetView(item).viewOutline.end.x"
                      [attr.y2]="user.GetView(item).viewOutline.start.y" stroke-width="2" stroke="#ffffff"
                      [attr.marker-end]="'url(#arrowX_'+i+')'" />
                    <line [attr.x1]="user.GetView(item).viewOutline.start.x"
                      [attr.y1]="user.GetView(item).viewOutline.start.y+1"
                      [attr.x2]="user.GetView(item).viewOutline.start.x"
                      [attr.y2]="user.GetView(item).viewOutline.end.y" stroke-width="2" stroke="#ffffff"
                      [attr.marker-end]="'url(#arrowY_'+i+')'" />
                    <path [attr.d]="user.GetView(item).pointPath(1)" fill="transparent" stroke-width="0.75"
                      stroke="#ffffff" />
                    <path [attr.d]="user.GetView(item).endDayDrawPath()" fill="transparent" stroke-width="0.5"
                      stroke="#ffffff" />
                    <text [attr.x]="user.GetView(item).endDayDrawX" [attr.y]="user.GetView(item).drawBax.end.y-1"
                      font-size="20" text-anchor="middle" fill="white"
                      font-weight="100">{{user.GetView(item).endDate| date:'M/d'}}</text>
                    <text [attr.x]="user.GetView(item).convertDateNumberToDrawX(item.data.result[0].date)"
                      [attr.y]="user.GetView(item).drawBax.end.y-1" font-size="20" text-anchor="start" fill="white"
                      font-weight="100">{{item.data.result[0].date| date:'M/d'}}</text>
                    <ng-container *ngFor="let resultItem of item.data.result">
                      <line [attr.x1]="user.GetView(item).convertDateNumberToDrawX(resultItem.date)"
                        [attr.y1]="user.GetView(item).getDrawRealForgetPoint(item.data.maxPoint,item.data.result,resultItem)"
                        [attr.x2]="user.GetView(item).convertDateNumberToDrawX(resultItem.date)"
                        [attr.y2]="user.GetView(item).convertToDrawY(1)" stroke-width="2" stroke="#ff4081"
                        [attr.marker-start]="'url(#dotPoint_'+i+')'" />
                      <path *ngIf="user.GetView(item).drawRealForgetCurve(item.data.result,resultItem)"
                        [attr.d]="user.GetView(item).getDrawRealForgetCurve(item.data.maxPoint,item.data.result,resultItem)"
                        fill="transparent" stroke-width="2" stroke="#ff4081" />
                    </ng-container>
                    <path [attr.d]="user.GetView(item).getDrawImageForgetCurveFront(item.data.result,item.data.next)"
                      fill="transparent" stroke-width="2" stroke="#ff4081" stroke-dasharray="4 3" />
                    <path *ngIf="user.hasNextDate(item)"
                      [attr.d]="user.GetView(item).getDrawImageForgetCurveRear(item.data.result,item.data.next)"
                      fill="transparent" stroke-width="2" stroke="#ff4081" stroke-dasharray="4 3" />
                  </svg>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
          <mat-card-actions>
            <ng-container *ngIf="user.hasNextDate(item)">
              <div *ngIf="item.next<=user.today" style="margin-left: 16px;">
                <form [formGroup]="GetResultFormGroup(item)">
                  <mat-form-field style="width: 72px;">
                    <mat-label i18n="@@ReviewResult">result</mat-label>
                    <input matInput type="number" min="0" [max]="item.data.maxPoint" formControlName="point"
                      required="true">
                    <mat-error>0～{{item.data.maxPoint}}</mat-error>
                  </mat-form-field>/{{item.data.maxPoint}}
                  <div
                    style=" float: right; margin-left: auto; margin-right: 8px; margin-top: 0px; width: max-content;">
                    <span>
                      <button [ngSwitch]="item.nextToGo" (mouseup)="selectNextNextToGo(item)" mat-icon-button
                        color="primary" style="margin-right: 16px;">
                        <mat-icon *ngSwitchCase="listType.Next" color="primary">schedule</mat-icon>
                        <mat-icon *ngSwitchCase="listType.Repeat" color="primary">repeat_one</mat-icon>
                        <mat-icon *ngSwitchCase="listType.ReStart" color="primary">reply_all</mat-icon>
                        <mat-icon *ngSwitchCase="listType.Finish" color="primary">thumb_up</mat-icon>
                        <mat-icon *ngSwitchDefault color="primary">schedule</mat-icon>
                      </button>
                      <button [disabled]=" GetResultFormGroup(item).invalid" mat-mini-fab color="primary"
                        (mouseup)="registerResult(item)">
                        <mat-icon>done</mat-icon>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <div *ngIf="item.next>user.today" style="margin-left: 16px; margin-right: 24px;">
                <span>
                  <span i18n="@@Memorize">Memorize</span>
                  <span>&nbsp;:&nbsp;</span>
                  <span>{{item.data.maxPoint}}</span>
                </span>
                <ng-container>
                  <span *ngIf="menuControl.pcMode" style="float: right;">
                    <span i18n="@@Next">Next</span>
                    <span>&nbsp;:&nbsp;</span>
                    <span>{{item.data.next | date:'longDate'}}</span>
                  </span>
                  <span *ngIf="!menuControl.pcMode" style="float: right;">
                    <span i18n="@@Next">Next</span>
                    <span>&nbsp;:&nbsp;</span>
                    <span>{{item.data.next | date:'MMMd'}}</span>
                  </span>
                </ng-container>
              </div>
            </ng-container>
            <div *ngIf="!user.hasNextDate(item)" style="margin-left: 16px; margin-right: 24px;">
              <span i18n="@@Memorized">Memorized</span>
              <span>&nbsp;:&nbsp;</span>
              <span>{{item.data.maxPoint}}</span>
              <span style="float: right;" i18n="@@Finish">Finish</span>
            </div>
          </mat-card-actions>
        </mat-card>
      </ng-container>
      <mat-card *ngIf="addMode" class="cardStyle" #editCard>
        <mat-card-header>
          <mat-card-title i18n="@@NewItem">New item</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="maxWidth" [formGroup]="newWorkInputGroupe">
            <div>
              <mat-form-field class="maxWidth">
                <mat-label i18n="@@EnterStudySummary">Enter your study summary</mat-label>
                <input type="text" i18n-placeholder placeholder="E.g., a vocabulary book.10～12page"
                  aria-label="InputWorkOverview" matInput formControlName="overview" required="true">
              </mat-form-field>
            </div>
            <div class="pointsCycleContainer">
              <div class="points">
                <mat-form-field style="width: 72px;">
                  <mat-label i18n="@@Memorize">Memorize</mat-label>
                  <input matInput type="number" formControlName="point" aria-label="InputWorkPoint" i18n-placeholder
                    placeholder="E.g.,10" min="1" required="true">
                  <mat-error i18n="@@EnterAtLeastOne">Enter at least 1.</mat-error>
                </mat-form-field>
              </div>
              <div class="cycle">
                <mat-form-field>
                  <mat-label i18n="@@Interval">Interval</mat-label>
                  <mat-select formControlName="cycle">
                    <ng-container *ngFor="let item of user.cycleNodeViewModel">
                      <mat-option [value]="item">
                        <ng-container *ngIf="!item.isCustomNode">
                          <ng-container *ngIf="item.data.name==='default'" i18n="@@CommonCycleDefault">default
                          </ng-container>
                          <ng-container *ngIf="item.data.name==='default/hard'" i18n="@@CommonCycleDefaultHard">
                            default/hard
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="item.isCustomNode">
                          {{item.data.name}}
                        </ng-container>
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <mat-accordion>
              <mat-expansion-panel class="dp3BackColor">
                <mat-expansion-panel-header>
                  <mat-panel-title i18n="@@Detailed">
                    Detailed
                  </mat-panel-title>
                  <mat-panel-description>
                    <span>(</span>
                    <span i18n="@@Optional">optional</span>
                    <span>)</span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="gridContainer">
                  <div class="buttonSportInput">
                    <mat-form-field class="maxWidth">
                      <mat-label i18n="@@EnterSubjectArea">Enter a subject area</mat-label>
                      <input type="text" i18n-placeholder placeholder="e.g, English" aria-label="InputviewSubjectArea "
                        matInput formControlName="newSubjectAreas">
                    </mat-form-field>
                  </div>
                  <div class="inputSelectButton">
                    <button mat-mini-fab color="primary" aria-label="Subject area select" (mouseup)="subjectAreaEdit()">
                      <mat-icon>list</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="gridContainer">
                  <div class="buttonSportInput">
                    <mat-form-field class="maxWidth">
                      <mat-chip-list #subjectAreaList aria-label="SubjectArea selection">
                        <ng-container *ngFor="let item of inputSubject">
                          <mat-chip selected="true" removable="true" (removed)="removeSubject(item)">
                            {{item.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </ng-container>
                        <input i18n-placeholder placeholder="Enter a subject or category" #subjectInput
                          formControlName='newSubject' [matChipInputFor]="subjectAreaList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                          (matChipInputTokenEnd)="addSubject($event)">
                      </mat-chip-list>
                    </mat-form-field>
                  </div>
                  <div class="inputSelectButton">
                    <button mat-mini-fab color="primary" aria-label="Subject select" (mouseup)="subjectEdit()">
                      <mat-icon>list</mat-icon>
                    </button>
                  </div>
                </div>
                <div>
                  <mat-form-field class="maxWidth">
                    <mat-label i18n="@@EnterMemo">memo entry</mat-label>
                    <textarea matInput formControlName="memo" aria-label="InputWorkDeteil"></textarea>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div class="actionButtonContainer">
            <button class="ClancelButton" color="primary" mat-raised-button (mouseup)="registerWorkCnacel()"
              i18n="@@Cancel">
              Cancel
            </button>
            <button class="OKButton" color="primary" mat-raised-button (mouseup)='registerWork()'
              [disabled]="newWorkInputGroupe.invalid" i18n="@@Register">
              Register
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
      <div class="fabPosition">
        <button mat-fab mat-elevation-z8 *ngIf="!addMode" (mouseup)="StartAddMode()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
