.cardStyle {
  margin-bottom: 8px;
}

.maxWidth {
  width: 100%;
}

.buttonSportInput{
  width: 100%;
  display: inline-block;
  padding-top: 4px;
   margin-right: 0;
}

.inputSelectButton{
  display: inline-block;
  position: absolute;
  right: 0;
  padding-right: 8px;
  width: max-content;
}
