.cardStyle {
  margin-bottom: 8px;
}

.maxWidth {
  width: 100%;
}

.buttonSportInput{
  grid-column: 1 / 2;
  padding-top: 4px;
  margin-right: 0;
}

.inputSelectButton{
  grid-column: 2 / 3;
  margin-left: auto;
  margin-right: 0;
  padding-right: 8px;
  margin-top: auto;
  margin-bottom: 21px;
  width: max-content;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 48px;
}
