.tableStyle {
  width: 100%;
  margin-top: 8px;
}

.removeIntervalPosition {
  z-index:6;
  /*vertical-align: bottom;*/
  position: absolute;
  left: auto;
  top: auto;
  left: 0px;
  bottom: 0px;
}

.addFormStyle {
  width: 100%;
}

.centerAddNumberStyle {
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (max-width: 600px){
  .addNumberStyle {
    display: block;
    width: 75%;
  }
}

@media screen and (min-width: 600px){
  .addNumberStyle {
    display: block;
    width: 50%;
  }
}
