<p>
  <mat-toolbar color="primary" mat-scroll-shrink class="toolbar mat-elevation-z8">
    <button *ngIf="!menuControl.pcMode" (mouseup)="menuControl.sideMenuToggle()" mat-icon-button aria-label="hamburger">
      <mat-icon>menu</mat-icon>
    </button>
    <!--span class="appStyle">{{menuControl.title}}</span-->
    <mat-icon class="hamburgerMargin" matListIcon>access_time</mat-icon>
    <span class="topMenuStyle" i18n="@@History">History</span>
  </mat-toolbar>
</p>
<mat-sidenav-container class="sideNavi-container">
  <!-- サイドメニュー -->
  <mat-sidenav [mode]="menuControl.sideNaviMode" [(opened)]="menuControl.showSideMenu">
    <app-side-navi-menu current="/analysis"></app-side-navi-menu>
  </mat-sidenav>
  <!-- メイン コンテンツ -->
  <mat-sidenav-content>
    <div class="mainSection">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab i18n-label="@@LearningTabName" label="Learning">
          <app-learning></app-learning>
        </mat-tab>
        <mat-tab i18n-label="@@FinishedTabName" label="Finished">
          <app-finished></app-finished>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
