<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <div class="subject-check-group ">
    <ng-container *ngFor="let item of data.subjectAreaNodeViewModel.data.subjects">
      <div style="width: 100%;">
        <mat-checkbox class="subject-check-button" (change)="ckeckedChange($event)" value={{item.id}}>{{item.name}}
        </mat-checkbox>
      </div>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div style="width: max-content; margin-left: auto; margin-right: 16px;">
    <button mat-raised-button color="primary" (mouseup)="onCancelClick()" cdkFocusInitial
      style="margin-left: auto; margin-right: 16px;">キャンセル</button>
    <button mat-raised-button color="primary" (mouseup)="onOkClick()">OK</button>
  </div>
</mat-dialog-actions>
