<mat-toolbar color="primary" mat-scroll-shrink class="toolbar mat-elevation-z8">
  <mat-toolbar-row>
    <button *ngIf="!menuControl.pcMode" (mouseup)="menuControl.sideMenuToggle()" mat-icon-button aria-label="hamburger">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon class="hamburgerMargin" matListIcon>repeat</mat-icon>
    <span class="topMenuStyle" i18n="@@Interval">Interval</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sideNavi-container">
  <!-- サイドメニュー -->
  <mat-sidenav [mode]="menuControl.sideNaviMode" [(opened)]="menuControl.showSideMenu">
    <mat-nav-list>
      <mat-list-item routerLink="/user-main">
        <mat-icon matListIcon>view_agenda</mat-icon>
        <h4 matLine i18n="@@ReviewList">Review list</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/analysis">
        <mat-icon matListIcon>timeline</mat-icon>
        <h4 matLine i18n="@@Analysis">Analysis</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/interval">
        <mat-icon matListIcon>repeat</mat-icon>
        <h4 matLine i18n="@@Interval">Interval</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <!-- メイン コンテンツ -->
  <mat-sidenav-content>
    <div class="mainSection">
      <mat-accordion>
        <ng-container *ngFor="let item of user.cycleNodeViewModel">
          <mat-expansion-panel [(expanded)]="item.openView" class="dp3BackColor">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.data.name}}
              </mat-panel-title>
              <ng-container *ngIf="item.isCustomNode">
                <mat-icon color="primary" style="margin-left: auto; margin-right: 16px;">bookmark</mat-icon>
              </ng-container>
            </mat-expansion-panel-header>
            <span>説明: {{item.data.description}}</span>

            <table mat-table [dataSource]="item.data.intarval" class="tableStyle mat-elevation-z4 dp3BackColor">

              <!-- day Column -->
              <ng-container matColumnDef="day">
                <th class="headerCellStyle" mat-header-cell *matHeaderCellDef>間隔</th>
                <td class="cellStyle" mat-cell *matCellDef="let node"> {{node.day}} 日</td>
                <!--td mat-footer-cell *matFooterCellDef> Total </td-->
              </ng-container>

              <!-- margin Column -->
              <ng-container matColumnDef="margin">
                <th class="headerCellStyle" mat-header-cell *matHeaderCellDef>ばらつき</th>
                <td class="cellStyle" mat-cell *matCellDef="let node"> {{node.margin}} 日</td>
                <!--td mat-footer-cell *matFooterCellDef> - </td-->
              </ng-container>

              <!-- repeat Column -->
              <ng-container matColumnDef="repeat">
                <th class="headerCellStyle" mat-header-cell *matHeaderCellDef>繰返し</th>
                <td class="cellStyle" mat-cell *matCellDef="let node"> {{node.repeat}} 回</td>
                <!--td mat-footer-cell *matFooterCellDef> - </td-->
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <!--tr mat-footer-row *matFooterRowDef="displayedColumns"></tr-->
            </table>
            <div *ngIf="item.isCustomNode" style="margin-top: 16px;">
              <button mat-icon-button (mouseup)="DeleteCycleButtonEventHandler($event,item.data.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-expansion-panel>
        </ng-container>
        <ng-container *ngIf="addMode">
          <mat-expansion-panel [expanded]="addMode" class="dp3BackColor">
            <mat-expansion-panel-header>
              <mat-panel-title>新規登録</mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="cycleGroupe" style="width: 100%;" name="newTitleInput">

              <mat-form-field class="addFormStyle">
                <mat-label>名前</mat-label>
                <input matInput type="text" placeholder="My cycle" formControlName="name" required="true">
                <mat-error>登録名を入力</mat-error>
              </mat-form-field>
              <mat-form-field class="addFormStyle">
                <mat-label>説明文</mat-label>
                <textarea matInput placeholder="The original cycle." formControlName="description"></textarea>
              </mat-form-field>
            </form>
            <form [formGroup]="cycleGroupe" style="width: 100%;" name="newCycleCountInput">
              <button mat-icon-button color="primary" (mouseup)="removeInterval()">
                <mat-icon>remove</mat-icon>
              </button>
              <mat-label style="margin-left: 8px;margin-right: 8px;">登録数 {{intervalIndex.length}}</mat-label>
              <button mat-icon-button color="primary" (mouseup)="addInterval()">
                <mat-icon>add</mat-icon>
              </button>
            </form>
            <form [formGroup]="cycleGroupe" style="width: 100%;" name="newCycleDetailInput">
              <table mat-table [dataSource]="intervalIndex" class="tableStyle mat-elevation-z4 dp3BackColor"
                style="table-layout: fixed;">

                <!-- day Column -->
                <ng-container matColumnDef="day" formArrayName="days">
                  <th mat-header-cell *matHeaderCellDef>間隔</th>
                  <td mat-cell *matCellDef="let node; let i = index">
                    <mat-form-field class="addNumberStyle">
                      <input matInput type="number" [formControlName]="i" required="true">
                      <mat-error>1以上を入力</mat-error>
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- margin Column -->
                <ng-container matColumnDef="margin" formArrayName="margins">
                  <th class="centerAddNumberStyle" mat-header-cell *matHeaderCellDef>ばらつき</th>
                  <td mat-cell *matCellDef="let node; let i = index" class="centerAddNumberStyle">
                    <mat-form-field class="addNumberStyle">
                      <input matInput type="number" [formControlName]="i" required="true">
                      <mat-error>0以上を入力</mat-error>
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- repeat Column -->
                <ng-container matColumnDef="repeat" formArrayName="repeats">
                  <th mat-header-cell *matHeaderCellDef>繰返し</th>
                  <td mat-cell *matCellDef="let node; let i = index">
                    <mat-form-field class="addNumberStyle">
                      <input matInput type="number" [formControlName]="i" required="true">
                      <mat-error>1以上を入力</mat-error>
                    </mat-form-field>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </form>
            <div style="margin-top: 16px;">
              <div style="width: max-content; float: left;">
                <button mat-icon-button (mouseup)="CancelAddCustomCycle()">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div class="rightButtonPosition">
                <button style="margin-top: 4px;" color="primary" mat-raised-button [disabled]="cycleGroupe.invalid"
                  (mouseup)="AddCustomCycle()">
                  登録
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </div>
    <div class="fabPosition" *ngIf="!addMode">
      <button mat-fab mat-elevation-z8 (mouseup)="StartAddMode()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
