<mat-toolbar color="primary" mat-scroll-shrink class="toolbar mat-elevation-z8">
  <mat-toolbar-row>
    <button *ngIf="!menuControl.pcMode" (mouseup)="menuControl.sideMenuToggle()" mat-icon-button aria-label="hamburger">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon class="hamburgerMargin" matListIcon>repeat</mat-icon>
    <span class="topMenuStyle" i18n="@@Interval">Interval</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sideNavi-container">
  <!-- サイドメニュー -->
  <mat-sidenav [mode]="menuControl.sideNaviMode" [(opened)]="menuControl.showSideMenu">
    <mat-nav-list>
      <mat-list-item routerLink="/user-main">
        <mat-icon matListIcon>view_agenda</mat-icon>
        <h4 matLine i18n="@@ReviewList">List</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/analysis">
        <mat-icon matListIcon>timeline</mat-icon>
        <h4 matLine i18n="@@Analysis">Analysis</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/interval">
        <mat-icon matListIcon>repeat</mat-icon>
        <h4 matLine i18n="@@Interval">Interval</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <!-- メイン コンテンツ -->
  <mat-sidenav-content>
    <div class="mainSection">
      <mat-accordion>
        <ng-container *ngFor="let item of user.cycleNodeViewModel">
          <app-interval-item-view [targetItem]="item"></app-interval-item-view>
        </ng-container>
        <app-interval-create-view [hidden]="!addMode"></app-interval-create-view>
      </mat-accordion>
    </div>
    <div class="fabPosition" *ngIf="!addMode">
      <button mat-fab mat-elevation-z8 (mouseup)="StartAddMode()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
